.cover__link {
    position: relative;
    min-height: 740px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../../images/Historic-Route-66__background.png');
    background-repeat: no-repeat;
    text-decoration: none;
    color: white;
    background-size: cover;
}

.cover__link:after {
    content: "";
    display: block;
    background: #2A2C2F;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
    cursor: pointer;
}

.cover__link:hover:after {
    opacity: 0.8;
    transition: 0.6s;
}

@media screen and (max-width: 1148px) {
    .cover__link {
        height: 100%;
        width: 100%;
        padding: 0;
        min-height: 640px;
    }
}

@media screen and (max-width: 860px) {
    .cover__link {
        min-height: 480px;
        margin: 0;
    }
}

@media screen and (max-width: 583px) {
    .cover__link {
        min-height: 200px;
    }
}