.place__url-heading {
    max-width: 456px;
    font-size: 12px;
    line-height: 20.4px;
    font-weight: 100;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 860px) {
    .place__url-heading {
        max-width: 352px;
        line-height: 12px;
    }
}

@media screen and (max-width: 540px) {
    .place__url-heading {
        max-width: 352px;
        line-height: 12px;
    }
}