.places {
    width: calc(100% - 148px * 2);
    margin: 92px 148px;
}

@media screen and (max-width: 1148px) {
    .places {
        width: calc(100% - 48px * 2);
        margin: 92px 48px;
    }
}

@media screen and (max-width: 860px) {
    .places {
        width: 768px;
        margin: 88px 24px;
    }
}

@media screen and (max-width: 540px) {
    .places {
        width: calc(100% - 16px * 2);
        margin: 64px 0 16px;
    }
}