.places {
    margin: 0 auto;
    max-width: 984px;
    padding: 16px 0 0 0;
    width: 100%;
}

@media screen and (max-width: 1148px) {
    .places {
        width: calc(100% - 48px * 2);
        max-width: 928px;
    }
}

@media screen and (max-width: 860px) {
    .places {
        width: 100%;
        margin: 8px auto;
        max-width: 720px;
    }
}

@media screen and (max-width: 540px) {
    .places {
        width: 100%;
        margin: 0 auto;
        padding: 0;
        max-width: 320px;
    }
}