    .lead {
        padding: 58px 0 0 0;
        width: 100%;
        max-width: 984px;
        margin: 0 auto;
    }
    
    @media screen and (max-width: 1148px) {
        .lead {
            padding: 50px 0 0 0;
            max-width: 928px;
        }
    }
    
    @media screen and (max-width: 860px) {
        .lead {
            max-width: 768px;
        }
    }
    
    @media screen and (max-width: 540px) {
        .lead {
            max-width: 320px;
        }
    }