.place__paragraphs {
    font-size: 100%;
    margin: 0;
    width: 100%;
    padding: 0;
}

@media screen and (max-width: 583px) {
    .place__paragraphs {
        max-width: 288px;
        margin: 0 auto;
        margin: 0 16px;
    }
}