.intro__section {
    max-width: 690px;
    padding: 92px 0 0 100px;
}

@media screen and (max-width: 1148px) {
    .intro__section {
        max-width: 690px;
        padding: 92px 0 0 48px;
    }
}

@media screen and (max-width: 860px) {
    .intro__section {
        margin: 0 auto;
    }
}

@media screen and (max-width: 583px) {
    .intro__section {
        width: 100%;
        padding: 64px 0 0 0;
    }
}