        .place__paragraph {
            font-size: 18px;
            line-height: 29.34px;
            font-weight: 400;
            box-sizing: border-box;
            margin: 0 auto;
        }
        
        .place__paragraph:not(:last-child) {
            padding-bottom: 25px;
        }
        
        @media screen and (max-width: 860px) {
            .place__paragraph {
                font-size: 16px;
                line-height: 26.08px;
            }
        }