.lead__image {
    max-width: 984px;
    max-height: 615px;
    margin: 0 auto;
    padding-top: 64px;
    text-align: center;
    width: 100%;
}

@media screen and (max-width: 1148px) {
    .lead__image {
        max-width: 928px;
        max-height: 580px;
        padding-top: 56px;
    }
}

@media screen and (max-width: 860px) {
    .lead__image {
        max-width: 768px;
        max-height: 480px;
    }
}

@media screen and (max-width: 540px) {
    .lead__image {
        padding-top: 40px;
        max-height: 200px;
    }
}