.lead__image {
    max-width: 984px;
    max-height: 615px;
    margin: 0;
    padding-top: 64px;
    text-align: center;
    width: 100%;
}

@media screen and (max-width: 1148px) {
    .lead__image {
        width: 100%;
        max-height: 580px;
        padding: 0;
        margin: 56px 0 auto;
    }
}

@media screen and (max-width: 860px) {
    .lead__image {
        width: 100%;
        max-width: 768px;
        max-height: 480px;
        padding-top: 56px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 540px) {
    .lead__image {
        width: 320px;
        height: 200px;
        margin: 40px 0 0 0;
        padding: 0;
    }
}