.logo__header {
    width: 190px;
    height: 44px;
}

@media screen and (max-width: 1024px) {
    .logo__header {
        width: 190px;
        height: 44px;
    }
}

@media screen and (max-width: 1024px) {
    .logo__header {
        width: 190px;
        height: 44px;
    }
}

@media screen and (max-width: 1024px) {
    .logo__header {
        width: 156px;
        height: 36px;
    }
}