.lead__subtitle {
    margin: 0 auto;
    text-align: center;
    margin-top: 32px;
    padding: 0;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    width: 55%;
    height: 72px;
}

@media screen and (max-width: 1148px) {
    .lead__subtitle {
        max-width: 60%;
    }
}

@media screen and (max-width: 860px) {
    .lead__subtitle {
        margin: 0 100px;
        padding-top: 32px;
    }
}

@media screen and (max-width: 540px) {
    .lead__subtitle {
        padding-top: 16px;
        font-size: 16px;
        line-height: 20px;
        width: 288px;
        height: 40px;
        max-width: 70%;
        margin: 0 auto;
    }
}