.intro__subtext {
    margin: 40px 0 0 0;
    max-width: 690px;
    font-size: 24px;
    line-height: 34px;
    font-weight: 400;
}

@media screen and (max-width: 1148px) {
    .intro__subtext {
        max-width: 65%;
    }
}

@media screen and (max-width: 860px) {
    .intro__subtext {
        max-width: 720px;
    }
}

@media screen and (max-width: 540px) {
    .intro__subtext {
        max-width: 288px;
        margin: 40px 0 0 0;
        font-size: 24px;
        line-height: 34px;
    }
}