.photo-grids {
    list-style-type: none;
    max-width: 1184px;
    padding: 92px 0 0 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    margin: 0 auto;
    grid-gap: 16px;
    width: 100%;
}

@media screen and (max-width: 1148px) {
    .photo-grids {
        max-width: 928px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 14px;
    }
}

@media screen and (max-width: 860px) {
    .photo-grids {
        padding: 88px 0 0 0;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 16px;
        grid-template-areas: "photo-grids__image photo-grids__image" "photo-grids__image photo-grids__image" "photo-grids__image photo-grids__image" "photo-grids__image photo-grids__image" "photo-grids__image photo-grids__image" "photo-grids__image photo-grids__image";
        grid-template-rows: repeat(1, 264px);
    }
}

@media screen and (max-width: 583px) {
    .photo-grids {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
        grid-template-areas: "place__title" "place__website" "place__image" "place__paragraphs";
        padding: 64px 0 0 0;
        grid-gap: 12px;
    }
}