.footer__list {
    display: inline-block;
    list-style-type: none;
    padding: 0 18px 0 0;
}


/* .footer__list:nth-of-type(3) {
    padding: 0
} */

@media screen and (max-width: 540px) {
    .footer__list {
        padding: 0;
        margin-bottom: 32px;
    }
}