.footer {
    width: 100%;
    padding: 92px 0 24px 0;
    margin: 0 auto;
    max-width: 1184px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1148px) {
    .footer {
        width: calc(100% - 48px * 2);
        max-width: 1024px;
    }
}

@media screen and (max-width: 860px) {
    .footer {
        width: calc(100% - 24px * 2);
        padding: 88px 0 24px 0;
        max-width: 720px;
    }
}

@media screen and (max-width: 583px) {
    .footer {
        width: calc(100% - 16px * 2);
        padding: 64px 0 24px 0;
        max-width: 165px;
        display: flex;
        flex-direction: column;
        margin: 0 16px;
    }
}