.place__website {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    max-width: 484px;
    align-self: end;
}

@media screen and (max-width: 1148px) {
    .place__website {
        max-width: 456px;
    }
}

@media screen and (max-width: 860px) {
    .place__website {
        max-width: 352px;
    }
}

@media screen and (max-width: 583px) {
    .place__website {
        max-width: 288px;
    }
}