.page__container {
    max-width: 1184px;
    margin: 0 auto;
    color: #FFFFFF;
    margin-top: 34px;
}

@media screen and (max-width: 1148px) {
    .page__container {
        max-height: 928px;
    }
}

@media screen and (max-width: 583px) {
    .page__container {
        max-width: 320px;
        margin-top: 20px;
    }
}