.footer__lists {
    padding: 0;
    display: inline-flex;
    list-style-type: none;
    margin: 0 auto;
}

@media screen and (max-width: 540px) {
    .footer__lists {
        display: table-caption;
        margin: 0;
    }
}