.intro__title {
    margin: 0;
    max-width: 690px;
    font-size: 54px;
    line-height: 58px;
    font-weight: 900;
}

@media screen and (max-width: 1148px) {
    .intro__title {
        max-width: 60%;
    }
}

@media screen and (max-width: 860px) {
    .intro__title {
        max-width: 65%;
    }
}

@media screen and (max-width: 540px) {
    .intro__title {
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
    }
}